.sidebar {
    @apply fixed top-0 left-0 h-full w-64 bg-indigo-500 text-white shadow-lg z-40;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;

    &.-translate-x-full {
        transform: translateX(-100%);
    }

    @screen lg {
        transform: translateX(0); // Sidebar siempre visible en pantallas grandes
    }
}