.Breadcrumb {
    position: absolute;
    margin-top: -14px;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Animación de salida */
@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.newBread {
    animation: slideInRight 0.3s forwards;
}

/* Aplicar la animación de entrada */
.enter {
    animation: slideIn 0.3s forwards;
}

/* Aplicar la animación de salida */
.exit {
    animation: slideOut 0.3s forwards;
}