<nav class="w-full justify-center flex">
    <div class="flex bg-white w-full sm:w-full md:w-9/12 lg:w-8/12 rounded-b-3xl shadow px-4 Breadcrumb transition-all "
        aria-label="Breadcrumb" [class]="isOn ? 'enter' : 'exit'"
        [class]="Breadcrumbs.length >= 4 ? 'xl:w-7/12' : 'xl:w-5/12'">
        <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse  "
            [class]="Breadcrumbs.length > 0 ? 'mt-4 pl-3 mb-3' : ''">
            @for (item of Breadcrumbs; track $index; let first = $first; let last = $last) {
            <li class="inline-flex items-center transition-all ">
                @if (first) {
                <span [routerLink]="item.url"
                    class="inline-flex items-center cursor-pointer font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 newBread">
                    <svg-icon src="assets/img/icons/heroicons/solid/home.svg" [svgClass]="'h-5 w-5 me-2.5'">
                    </svg-icon>
                    {{item.label}}
                </span>
                }@else if(!first && !last) {
                <div class="flex items-center transition-all newBread">
                    <svg-icon src="assets/img/icons/heroicons/solid/chevron-right.svg"
                        [svgClass]="'rtl:rotate-180 h-3 w-3 '">
                    </svg-icon>
                    <span [routerLink]="item.url"
                        class="ms-1 font-medium cursor-pointer text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 ">{{item.label}}</span>
                </div>
                }@else {
                <div class="flex items-center transition-all newBread">
                    <svg-icon src="assets/img/icons/heroicons/solid/chevron-right.svg"
                        [svgClass]="'rtl:rotate-180 h-3 w-3 '">
                    </svg-icon>
                    <span
                        class="ms-1  text-[12px] font-semibold antialiased cursor-pointer md:ms-2 text-foreground ">{{item.label}}</span>
                </div>
                }
            </li>
            }
        </ol>
    </div>
</nav>