<div class="w-full ">
    @if(isLoading){

    <div class="w-full rounded-xl skeleton-medium h-full pb-5">


        <div class="w-full flex justify-center">
            <div class="w-8/12">
                <div class="w-full flex justify-between gap-2 px-5 pt-20 mt-20">
                    <div class="w-auto relative"></div>
                    <div class=" w-56 skeleton rounded-full h-10"></div>
                </div>
                <div class="w-full flex justify-between gap-4 my-5 px-5">
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                </div>
                <div class="w-full flex justify-between my-5 px-5">
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                </div>
                <div class="w-full flex justify-between my-5 px-5">
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                </div>
            </div>

        </div>

    </div>

    }@else {
    <div class="w-full bg-white h-full rounded-xl pt-5 pb-20">
        <form [formGroup]="form">
            <div class="w-full flex justify-center">
                <div class="w-full md:w-8/12 lg:w-8/12">
                    <div class="w-full flex justify-between gap-2 px-5 pt-10 mt-10">
                        <div class="w-auto relative"></div>
                        <div class="btns">
                            @if(isSending){
                            <mat-spinner [diameter]="30"></mat-spinner>
                            }@else{
                            <ng-container>
                                @if(isUpdate){
                                <div (click)="update()"
                                    class=" w-56 rounded-full bg-primary cursor-pointer text-white flex justify-center items-center h-10">
                                    Actualizar taller
                                </div>
                                }@else {
                                <div (click)="store()"
                                    class=" w-56 rounded-full bg-primary cursor-pointer text-white flex justify-center items-center h-10">
                                    <span class="material-icons mr-2" translate="no">add</span>Agregar taller
                                </div>
                                }
                            </ng-container>
                            }
                        </div>

                    </div>


                    <div class="w-full flex flex-wrap md:flex-nowrap gap-0 justify-between md:gap-4 px-5">
                        <div class="w-full">
                            <div class="mt-6 input-container  ">
                                <label for="codigo_proyecto"
                                    [ngClass]="{'label-float-active': inputs['codigo_proyecto'], 'label-float-inactive': !inputs['codigo_proyecto'] || inputs['codigo_proyecto'] == null }"
                                    class="label-flotante label-float-active required">Código</label>
                                <input (input)="labelBlur('codigo_proyecto', $event);" autocomplete="false"
                                    (focus)="labelFocus('codigo_proyecto')" [attr.readonly]="isUpdate ? true : null"
                                    (blur)="labelBlur('codigo_proyecto', $event)" type="text"
                                    class="form-control input-control uppercase" id="codigo_proyecto"
                                    formControlName="codigo_proyecto" required>

                            </div>
                        </div>
                        <div class="w-full">
                            <div class="mt-6 input-container  ">
                                <label for="ciudad_municipio_proyecto"
                                    [ngClass]="{'label-float-active': inputs['ciudad_municipio_proyecto'], 'label-float-inactive': !inputs['ciudad_municipio_proyecto'] || inputs['ciudad_municipio_proyecto'] == null }"
                                    class="label-flotante label-float-active required">Ciudad</label>
                                <input (input)="labelBlur('ciudad_municipio_proyecto', $event)" autocomplete="false"
                                    (focus)="labelFocus('ciudad_municipio_proyecto')"
                                    (blur)="labelBlur('ciudad_municipio_proyecto', $event)" type="text"
                                    class="form-control input-control  " id="ciudad_municipio_proyecto"
                                    formControlName="ciudad_municipio_proyecto" required>

                            </div>
                        </div>
                    </div>

                    <div class="w-full flex flex-wrap md:flex-nowrap gap-0 justify-between md:gap-4 px-5">
                        <div class="w-full">
                            <div class="mt-6 input-container  ">
                                <label for="departamento_proyecto"
                                    [ngClass]="{'label-float-active': inputs['departamento_proyecto'], 'label-float-inactive': !inputs['departamento_proyecto'] || inputs['departamento_proyecto'] == null }"
                                    class="label-flotante label-float-active required">Departamento</label>
                                <input (input)="labelBlur('departamento_proyecto', $event);" autocomplete="false"
                                    (focus)="labelFocus('departamento_proyecto')"
                                    (blur)="labelBlur('departamento_proyecto', $event)" type="text"
                                    class="form-control input-control  " id="departamento_proyecto"
                                    formControlName="departamento_proyecto" required>

                            </div>
                        </div>
                        <div class="w-full">
                            <div class="mt-6 input-container  ">
                                <label for="direccion_proyecto"
                                    [ngClass]="{'label-float-active': inputs['direccion_proyecto'], 'label-float-inactive': !inputs['direccion_proyecto'] || inputs['direccion_proyecto'] == null }"
                                    class="label-flotante label-float-active required">Dirección</label>
                                <input (input)="labelBlur('direccion_proyecto', $event)" autocomplete="false"
                                    (focus)="labelFocus('direccion_proyecto')"
                                    (blur)="labelBlur('direccion_proyecto', $event)" type="text"
                                    class="form-control input-control  " id="direccion_proyecto"
                                    formControlName="direccion_proyecto" required>

                            </div>
                        </div>
                    </div>

                    <div class="w-full flex flex-wrap md:flex-nowrap gap-0 justify-between md:gap-4 px-5">
                        <div class="w-full">
                            <div class="mt-6 input-container  ">
                                <label for="fecha_inicio_proyecto"
                                    [ngClass]="{'label-float-active': inputs['fecha_inicio_proyecto'], 'label-float-inactive': !inputs['fecha_inicio_proyecto'] || inputs['fecha_inicio_proyecto'] == null }"
                                    class="label-flotante label-float-active required">Fecha Inicio</label>
                                <input (input)="labelBlur('fecha_inicio_proyecto', $event)" autocomplete="false"
                                    (focus)="labelFocus('fecha_inicio_proyecto')"
                                    (blur)="labelBlur('fecha_inicio_proyecto', $event)" type="date"
                                    class="form-control input-control  " id="fecha_inicio_proyecto"
                                    formControlName="fecha_inicio_proyecto" required>

                            </div>
                        </div>
                        <div class="w-full">
                            <div class="mt-6 input-container  ">
                                <label for="fecha_final_proyecto"
                                    [ngClass]="{'label-float-active': inputs['fecha_final_proyecto'], 'label-float-inactive': !inputs['fecha_final_proyecto'] || inputs['fecha_final_proyecto'] == null }"
                                    class="label-flotante label-float-active required">Fecha Fin</label>
                                <input (input)="labelBlur('fecha_final_proyecto', $event)" autocomplete="false"
                                    (focus)="labelFocus('fecha_final_proyecto')"
                                    (blur)="labelBlur('fecha_final_proyecto', $event)" type="date"
                                    class="form-control input-control  " id="fecha_final_proyecto"
                                    formControlName="fecha_final_proyecto" required>

                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </form>


    </div>
    }
</div>