@if (datos) {
    <div class="pagination w-full flex justify-between items-center mb-11 mt-7 transition-all">
        <div class="flex justify-center border-t">
            <button matRipple [matRippleColor]="'#8080803b'"
                class="px-4 py-2    text-blue-700   flex justify-center items-center"
                (click)="newLink.emit(datos.links.first ? datos.links.first : datos.first_page_url ?? '')" [disabled]="datos.links.first ? !datos.links.first : false ">
                <i translate="no" class="material-icons">first_page</i>
                
                <span class="font-medium text-xs">Primero</span>
            </button>
            @if (datos.links.prev) {
            <button matRipple [matRippleColor]="'#8080803b'" class="px-3 py-1   text-gray-700 slideInTop"
                (click)="newLink.emit(datos.links.prev)">Anterior</button>
            }


        </div>
        <!-- Mostrando los números de página -->
        <div class="flex justify-center border-t">
            @for (link of getFilteredLinks(); track $index; let first = $first; let last = $last) {
            @if (!first && !last) {
            <button matRipple [matRippleColor]="'#8080803b'" (click)="newLink.emit(link.url ??  '')"
                [disabled]="link.active "
                [class]="link.active ? 'border-t-2 text-blue-700 border-t-blue-700' : ' text-gray-500 '"
                class="font-medium min-w-11 px-2 py-1 text-xs" [innerHTML]="link.label">

            </button>
            }
            }
        </div>
        <div class="flex justify-center border-t">
            @if (datos.links.next) {
            <button matRipple [matRippleColor]="'#8080803b'" class="px-3 py-1   text-gray-700 text-xs"
                (click)="newLink.emit(datos.links.next)">Siguiente</button>
            }

            <button matRipple [matRippleColor]="'#8080803b'"
                class="px-4 py-2   flex justify-center items-center   text-blue-700 text-xs"
                (click)="newLink.emit(datos.links.last ? datos.links.last : datos.last_page_url ?? ''   )" [disabled]=" datos.links.last ? !datos.links.last : false ">Último
                <i translate="no" class="material-icons">last_page</i>
            </button>
        </div>
    </div>
    }