<div class="w-full ">
    @if(isLoading){

    <div class="w-full rounded-xl skeleton-medium h-full pb-5">


        <div class="w-full flex justify-center">
            <div class="w-8/12">
                <div class="w-full flex justify-between gap-2 px-5 pt-20 mt-20">
                    <div class="w-auto relative"></div>
                    <div class=" w-56 skeleton rounded-full h-10"></div>
                </div>
                <div class="w-full flex justify-between gap-4 my-5 px-5">
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                </div>
                <div class="w-full flex justify-between my-5 px-5">
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                </div>
                <div class="w-full flex justify-between my-5 px-5">
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                </div>
            </div>

        </div>

    </div>

    }@else {
    <div class="w-full bg-white h-full rounded-xl pt-5 pb-20">
        <form [formGroup]="form">
            <div class="w-full flex justify-center">
                <div class="w-full md:w-6/12 lg:w-6/12">
                    <div class="w-full flex justify-between gap-2 px-5 pt-10 mt-10">
                        <div class="w-auto relative"></div>
                        <div class="btns">
                            @if(isSending){
                            <mat-spinner [diameter]="30"></mat-spinner>
                            }@else{
                            <ng-container>
                                @if(isUpdate){
                                <div (click)="update()"
                                    class=" w-56 rounded-full bg-primary cursor-pointer text-white flex justify-center items-center h-10">
                                    Actualizar tipo vehiculo
                                </div>
                                }@else {
                                <div (click)="store()"
                                    class=" w-56 rounded-full bg-primary cursor-pointer text-white flex justify-center items-center h-10">
                                    <span class="material-icons mr-2" translate="no">add</span>Agregar tipo vehiculo
                                </div>
                                }
                            </ng-container>
                            }
                        </div>

                    </div>

                    <div class="w-full flex flex-wrap md:flex-nowrap gap-0 justify-between md:gap-4 px-5">
                        <div class="w-full">
                            <div class="mt-6 input-container  ">
                                <label for="nombre_tipo_inmueble"
                                    [ngClass]="{'label-float-active': inputs['nombre_tipo_inmueble'], 'label-float-inactive': !inputs['nombre_completo'] || inputs['nombre_completo'] == null }"
                                    class="label-flotante label-float-active required">Nombre</label>
                                <input (input)="labelBlur('nombre_tipo_inmueble', $event)" autocomplete="false"
                                    (focus)="labelFocus('nombre_tipo_inmueble')"
                                    (blur)="labelBlur('nombre_tipo_inmueble', $event)" type="text"
                                    class="form-control input-control  " id="nombre_tipo_inmueble"
                                    formControlName="nombre_tipo_inmueble" required>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </form>


    </div>
    }
</div>