<div class="w-full">
    @if(isLoading){

    <div class="w-full rounded-xl skeleton-medium h-full pb-5">
        <div class="w-full flex justify-center mt-5 ">
            <div class="skeleton w-2/4 h-11 rounded-full mt-5"></div>


        </div>
        <div class="w-full flex justify-between gap-2 px-5 mt-20">
            <div class="w-auto relative"></div>
            <div class=" w-56 skeleton rounded-full h-10"></div>
        </div>


        <div class="w-full flex flex-wrap  my-5 px-5">
            <div class="w-full h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
            <div class="w-full h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
            <div class="w-full h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
            <div class="w-full h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
            <div class="w-full h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
            <div class="w-full h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>

        </div>
    </div>

    }@else {

    <div class="w-full bg-white h-full rounded-xl py-5">
        <div class="w-full flex flex-wrap justify-center mt-20 px-4">
            <div class="w-full lg:w-8/12 xl:w-6/12">
                <div class="input-container w-full ">
                    <input type="text" #inputSearch formControlName="termino" (input)="filter($event)"
                        class=" py-3 pl-11 pr-3 w-full rounded-3xl h-11 outline-none border border-slate-300 bg-slate-100 slideInTop"
                        placeholder="Buscar...">
                    <div class="absolute top-[10px] left-3">
                        <i translate="no" class="material-icons text-slate-500">search</i>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full flex justify-between  gap-2 px-5 mt-5">
            <div class="w-auto relative">

            </div>

            <div class="flex">
                <div class="flex gap-2 rounded-full items-center px-4 py-3 cursor-pointer bg-blue-500 hover:bg-blue-400 text-white"
                    [routerLink]="'/admin/materials/new'">
                    <span class="text-white">Agregar material</span>
                    <i translate="no" class="material-icons text-white">add</i>


                </div>
            </div>
        </div>

        <div class="my-5 px-5">

            <ngx-datatable class="material striped rounded-3xl" [rows]="filtros" [columnMode]="'force'"
                [swapColumns]="true" [rowHeight]="'auto'" [headerHeight]="55" [limit]="15" [offset]="0"
                [footerHeight]="50" [scrollbarH]="true">
                <ngx-datatable-column [flexGrow]="0.4" [resizeable]="false" [minWidth]="50" [prop]="'index'" name="No."
                    [sortable]="true">
                    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>

                        <div class="flex items-center">
                            <!-- <button matRipple
                                class="bg-blue-500 border-2 flex justify-center items-center rounded-full py-1 px-2 text-white"
                                (click)="showDetails(row)" style="margin-right: 5px;">
                                +
                            </button> -->
                            <span>{{ row.index + 1}}</span>
                        </div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [flexGrow]="1" [minWidth]="100" [resizeable]="false"
                    [prop]="'referencia_material '" name="Referencia" [sortable]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span class=" font-medium"> {{row.referencia_material }}</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [flexGrow]="2" [minWidth]="150" [resizeable]="false" [prop]="'nombre_material'"
                    name="Material" [sortable]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span class=" font-medium">{{row.nombre_material}} </span>
                    </ng-template>
                </ngx-datatable-column>

                <!-- <ngx-datatable-column [flexGrow]="1" [minWidth]="100" [resizeable]="false" [prop]="'costo'" name="Costo"
                    [sortable]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span class=" font-medium">{{pipeMoney(row.costo)}} </span>
                    </ng-template>
                </ngx-datatable-column> -->

                <!-- <ngx-datatable-column [flexGrow]="1" [minWidth]="100" [resizeable]="false" [prop]="'cantidad'"
                    name="Cantidad" [sortable]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span class=" font-medium">{{row.cantidad}} </span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [flexGrow]="1" [minWidth]="120" [resizeable]="false" [prop]="'nit_proveedor'"
                    name="Nit proveedor" [sortable]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span class=" font-medium">{{row.nit_proveedor}} </span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [flexGrow]="1.5" [minWidth]="100" [resizeable]="false" [prop]="'nombre_proveedor'"
                    name="Proveedor" [sortable]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span class=" font-medium">{{row.nombre_proveedor}} </span>
                    </ng-template>
                </ngx-datatable-column> -->

                <ngx-datatable-column [flexGrow]="1" [minWidth]="100" [resizeable]="false" [prop]="'estado'"
                    name="Estado" [sortable]="true">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div class="flex items-center h-full ">
                            <span matRipple
                                class="text-center align-baseline inline-flex px-4 py-2 mr-auto items-center text-[.95rem] leading-none rounded-lg"
                                [class]="row.estado == 'A'? ' text-white bg-blue-300': ' text-white bg-red-300'">
                                {{row.estado == 'A' ? "A" : "E"}}</span>
                        </div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [flexGrow]="1.5" [minWidth]="100" [resizeable]="false" name="Acciones"
                    [sortable]="true" cellClass="accion_">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <div class="flex gap-3 ">
                            <div data-title="Editar" (click)="update(row)"
                                class="flex items-center cursor-pointer  before:top-[-35px] h-full tool-tip relative">
                                <span matRipple style="font-size: 16px !important;"
                                    class="text-center text-white bg-blue-300 align-baseline inline-flex px-4 py-2 mr-auto items-center material-icons leading-none rounded-lg">edit</span>
                            </div>


                            <div data-title="Eliminar" (click)="delete(row)"
                                class="flex items-center cursor-pointer  before:top-[-35px] h-full tool-tip relative">
                                <span matRipple style="font-size: 16px !important;"
                                    class="text-center text-white bg-red-300 align-baseline inline-flex px-4 py-2 mr-auto items-center material-icons leading-none rounded-lg">delete</span>
                            </div>



                        </div>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>



        </div>
    </div>



    }

</div>