<div class="w-full ">
    @if(isLoading){

    <div class="w-full rounded-xl skeleton-medium h-full pb-5">


        <div class="w-full flex justify-center">
            <div class="w-8/12">
                <div class="w-full flex justify-between gap-2 px-5 pt-20 mt-20">
                    <div class="w-auto relative"></div>
                    <div class=" w-56 skeleton rounded-full h-10"></div>
                </div>
                <div class="w-full flex justify-between gap-4 my-5 px-5">
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                </div>
                <div class="w-full flex justify-between my-5 px-5">
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                </div>
                <div class="w-full flex justify-between my-5 px-5">
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                </div>
            </div>

        </div>

    </div>

    }@else {
    <div class="w-full bg-white h-full rounded-xl pt-5 pb-20">
        <form [formGroup]="form">
            <div class="w-full flex justify-center">
                <div class="w-full md:w-8/12 lg:w-8/12">
                    <div class="w-full flex justify-between gap-2 px-5 pt-10 mt-10">
                        <div class="w-auto relative"></div>
                        <div class="btns">
                            @if(isSending){
                            <mat-spinner [diameter]="30"></mat-spinner>
                            }@else{
                            <ng-container>
                                @if(isUpdate){
                                <div (click)="update()"
                                    class=" w-56 rounded-full bg-primary cursor-pointer text-white flex justify-center items-center h-10">
                                    Actualizar vehiculos
                                </div>
                                }@else {
                                <div (click)="store()"
                                    class=" w-56 rounded-full bg-primary cursor-pointer text-white flex justify-center items-center h-10">
                                    <span class="material-icons mr-2" translate="no">add</span>Agregar vehiculo
                                </div>
                                }
                            </ng-container>
                            }
                        </div>

                    </div>


                    <div class="w-full flex flex-wrap md:flex-nowrap gap-0 justify-between md:gap-4 px-5">
                        <div class="w-full">
                            <div class="mt-6 input-container  ">
                                <label for="codigo_proyecto"
                                    [ngClass]="{'label-float-active': inputs['codigo_proyecto'], 'label-float-inactive': !inputs['codigo_proyecto'] || inputs['codigo_proyecto'] == null }"
                                    class="label-flotante label-float-active required">Código Taller</label>
                                <select (change)="labelBlur('codigo_proyecto', $event);"
                                    (focus)="labelFocus('codigo_proyecto')" formControlName="codigo_proyecto"
                                    (blur)="labelBlur('codigo_proyecto', $event)"
                                    class="form-control input-control bg-white" id="codigo_proyecto">
                                    @if (inputs['codigo_proyecto'] == true ) {
                                    <option value="" selected disabled>Seleccionar</option>
                                    }
                                    @for (item of projectList; track $index) {
                                    <option [value]="item.codigo_proyecto">{{item.codigo_proyecto}}</option>
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="w-full">
                            <div class="mt-6 input-container  ">
                                <label for="nombre"
                                    [ngClass]="{'label-float-active': inputs['nombre'], 'label-float-inactive': !inputs['nombre'] || inputs['nombre'] == null }"
                                    class="label-flotante label-float-active required">Nombre</label>
                                <input (input)="labelBlur('nombre', $event);" autocomplete="false"
                                    (focus)="labelFocus('nombre')" (blur)="labelBlur('nombre', $event)" type="text"
                                    class="form-control input-control  " id="nombre" formControlName="nombre" required>

                            </div>
                        </div>
                    </div>

                    <div class="w-full flex flex-wrap md:flex-nowrap gap-0 justify-between md:gap-4 px-5">
                        <div class="w-full">
                            <div class="mt-6 input-container  ">
                                <label for="cantidad_inmueble"
                                    [ngClass]="{'label-float-active': inputs['cantidad_inmueble'], 'label-float-inactive': !inputs['cantidad_inmueble'] || inputs['cantidad_inmueble'] == null }"
                                    class="label-flotante label-float-active required">Cantidad</label>
                                <input (input)="labelBlur('cantidad_inmueble', $event);" autocomplete="false"
                                    (focus)="labelFocus('cantidad_inmueble')"
                                    (blur)="labelBlur('cantidad_inmueble', $event)" type="number"
                                    class="form-control input-control  " id="cantidad_inmueble"
                                    formControlName="cantidad_inmueble" required>

                            </div>
                        </div>
                        <div class="w-full">
                            <div class="mt-6 input-container  ">
                                <label for="tipo_inmueble"
                                    [ngClass]="{'label-float-active': inputs['tipo_inmueble'], 'label-float-inactive': !inputs['tipo_inmueble'] || inputs['tipo_inmueble'] == null }"
                                    class="label-flotante label-float-active required">Tipo</label>
                                <select (change)="labelBlur('tipo_inmueble', $event);"
                                    (focus)="labelFocus('tipo_inmueble')" formControlName="tipo_inmueble"
                                    (blur)="labelBlur('tipo_inmueble', $event)"
                                    class="form-control input-control bg-white" id="tipo_inmueble">
                                    @if (inputs['tipo_inmueble'] == true ) {
                                    <option value="" selected disabled>Seleccionar</option>
                                    }
                                    @for (item of tipoInmueblesList; track $index) {
                                    <option [value]="item.id">{{item.nombre_tipo_inmueble}}</option>
                                    }
                                </select>

                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </form>


    </div>
    }
</div>