<div class="w-full flex justify-center ">
    <form [formGroup]="form" class="bg-white  rounded-2xl shadow-xl w-10/12 md:w-6/12 p-4">
        <div class="content"></div>
        <div class="flex flex-wrap ">

            <div class="px-4 py-0 w-full flex justify-center  ">
                @defer () {
                <div [class]="loanding ? '' : 'hidden'" class="relative">
                    <div class="flex justify-center items-center  bg-white  rounded-full relative ">
                        <img [src]="base_url+'favicon.ico'" class="object-contain w-[80px] h-auto   " alt="logo"
                            (load)="loanding = true">
                    </div>
                </div>
                <div [class]="loanding ? 'hidden' : ''">
                    <div class="w-[70px] h-[70px] rounded-full skeleton skeleton-duration-1100">

                    </div>
                </div>


                }@placeholder {
                <div class="w-[70px] h-[70px] rounded-full skeleton skeleton-duration-1100">

                </div>
                }

            </div>

            <div class=" w-full ">
                <div class="mt-2 px-7 flex flex-col items-center ">
                    <span class="text-gray-500"><b class="text-primary">Ap Unidos Software</b></span>
                </div>


            </div>

            <div class="w-full relative mt-2 lg:mt-4">
                <div class="content-transicion px-5 w-full">
                    <div class="mt-4 input-container  ">
                        <label for="numero_identificacion"
                            [ngClass]="{'label-float-active': inputs['numero_identificacion'], 'label-float-inactive': !inputs['numero_identificacion'] || inputs['numero_identificacion'] == null }"
                            class="label-flotante label-float-active required">Usuario</label>
                        <input (input)="labelBlur('numero_identificacion', $event)" autofocus autocomplete="false"
                            (focus)="labelFocus('numero_identificacion')"
                            (blur)="labelBlur('numero_identificacion', $event)" type="text"
                            class="form-control input-control  " id="numero_identificacion"
                            formControlName="numero_identificacion" required>

                    </div>
                    <div class="mt-7 input-container relative w-full">
                        <label for="password"
                            [ngClass]="{'label-float-active': inputs['password'], 'label-float-inactive': !inputs['password'] || inputs['password'] == null }"
                            class="label-flotante label-float-active required">Contraseña</label>
                        <input (input)="labelBlur('password', $event)" (focus)="labelFocus('password')"
                            (blur)="labelBlur('password', $event)" [type]="showPassword ? 'text' : 'password' "
                            [style.background]="'white !important'" id="password" class="form-control input-control  "
                            formControlName="password" required>


                        <span class="absolute top-3.5 right-5 cursor-pointer text-muted-foreground"
                            (click)="showPassword = !showPassword">
                            <svg-icon [src]="
                                    !showPassword
                                      ? 'assets/img/icons/heroicons/outline/eye-off.svg'
                                      : 'assets/img/icons/heroicons/outline/eye.svg'
                                  " [svgClass]="'h-7 w-7'">
                            </svg-icon>
                        </span>

                    </div>

                    <div class="flex justify-end items-center mt-5 gap-8 ">
                        @if(isSending){
                        <mat-spinner [diameter]="30"></mat-spinner>
                        }@else{
                        <button matRipple (click)="login()"
                            class="px-6 bg-primary hover:bg-primaryDark text-white font-medium font-poppins rounded-[25px] py-3  "
                            type="submit">Iniciar sesión</button>
                        }

                    </div>
                </div>

            </div>
            <div class="mt-8 w-full mb-6">
                <p class="text-xs mt-2 text-gray-500 text-center">
                    <span>© {{currentYear}} <b>Ap Unidos Software</b>. Todos los derechos reservados.</span>
                </p>
            </div>
        </div>

    </form>
</div>