<div class="w-full ">
    @if(isLoading){

    <div class="w-full rounded-xl skeleton-medium h-full pb-5">


        <div class="w-full flex justify-center">
            <div class="w-8/12">
                <div class="w-full flex justify-between gap-2 px-5 pt-20 mt-20">
                    <div class="w-auto relative"></div>
                    <div class=" w-56 skeleton rounded-full h-10"></div>
                </div>
                <div class="w-full flex justify-between gap-4 my-5 px-5">
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                </div>
                <div class="w-full flex justify-between my-5 px-5">
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                </div>
                <div class="w-full flex justify-between my-5 px-5">
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                </div>
            </div>

        </div>

    </div>

    }@else {
    <div class="w-full bg-white h-full rounded-xl pt-5 pb-20">
        <form [formGroup]="form">
            <div class="w-full flex justify-center">
                <div class="w-full md:w-8/12 lg:w-9/12">
                    <div class="w-full flex justify-between gap-2 px-5 pt-10 mt-10">
                        <div class="w-auto relative"></div>
                        <div class="btns">
                            @if(isSending){
                            <mat-spinner [diameter]="30"></mat-spinner>
                            }@else{
                            <ng-container>
                                @if(isUpdate){
                                <div (click)="update()"
                                    class=" w-56 rounded-full bg-primary cursor-pointer text-white flex justify-center items-center h-10">
                                    Actualizar material
                                </div>
                                }@else {
                                <div (click)="store()"
                                    class=" w-56 rounded-full bg-primary cursor-pointer text-white flex justify-center items-center h-10">
                                    <span class="material-icons mr-2" translate="no">add</span>Agregar material
                                </div>
                                }
                            </ng-container>
                            }
                        </div>

                    </div>

                    <div class="w-full flex flex-wrap md:flex-nowrap gap-0 justify-between md:gap-4 px-5">
                        <div class="w-full">
                            <div class="mt-6 input-container  ">
                                <label for="referencia_material"
                                    [ngClass]="{'label-float-active': inputs['referencia_material'], 'label-float-inactive': !inputs['referencia_material'] || inputs['referencia_material'] == null }"
                                    class="label-flotante label-float-active required">Referencia material</label>
                                <input (input)="labelBlur('referencia_material', $event)" autocomplete="false"
                                    (focus)="labelFocus('referencia_material')" maxlength="10"
                                    (blur)="labelBlur('referencia_material', $event)" type="text"
                                    class="form-control input-control uppercase " id="referencia_material"
                                    formControlName="referencia_material" required>

                            </div>
                        </div>
                        <div class="w-full">
                            <div class="mt-6 input-container  ">
                                <label for="nombre_material"
                                    [ngClass]="{'label-float-active': inputs['nombre_material'], 'label-float-inactive': !inputs['nombre_material'] || inputs['nombre_material'] == null }"
                                    class="label-flotante label-float-active required">Material</label>
                                <input (input)="labelBlur('nombre_material', $event)" autocomplete="false"
                                    (focus)="labelFocus('nombre_material')"
                                    (blur)="labelBlur('nombre_material', $event)" type="text"
                                    class="form-control input-control " id="nombre_material"
                                    formControlName="nombre_material" required>

                            </div>
                        </div>
                    </div>

                    <div class="w-full flex flex-wrap md:flex-nowrap gap-0 justify-between md:gap-4 px-5">
                        <div class="w-full">
                            <div class="mt-6 input-container  ">
                                <label for="costo"
                                    [ngClass]="{'label-float-active': inputs['costo'], 'label-float-inactive': !inputs['costo'] || inputs['costo'] == null }"
                                    class="label-flotante label-float-active required">Costo</label>
                                <input (input)="labelBlur('costo', $event); moneda($event)" autocomplete="false"
                                    (focus)="labelFocus('costo')" (blur)="labelBlur('costo', $event)" type="text"
                                    class="form-control input-control  " id="costo" formControlName="costo" required>

                            </div>
                        </div>
                        <div class="w-full">
                            <div class="mt-6 input-container  ">
                                <label for="cantidad"
                                    [ngClass]="{'label-float-active': inputs['cantidad'], 'label-float-inactive': !inputs['cantidad'] || inputs['cantidad'] == null }"
                                    class="label-flotante label-float-active required">Cantidad</label>
                                <input (input)="labelBlur('cantidad', $event)" autocomplete="false"
                                    (focus)="labelFocus('cantidad')" (blur)="labelBlur('cantidad', $event)" type="text"
                                    class="form-control input-control  " id="cantidad" formControlName="cantidad"
                                    required>

                            </div>
                        </div>
                    </div>

                    <div class="w-full flex flex-wrap md:flex-nowrap gap-0 justify-between md:gap-4 px-5">
                        <div class="w-full">
                            <div class="mt-6 input-container  ">
                                <label for="nombre_proveedor"
                                    [ngClass]="{'label-float-active': inputs['nombre_proveedor'], 'label-float-inactive': !inputs['nombre_proveedor'] || inputs['nombre_proveedor'] == null }"
                                    class="label-flotante label-float-active required">Nombre proveedor</label>
                                <input (input)="labelBlur('nombre_proveedor', $event)" autocomplete="false"
                                    (focus)="labelFocus('nombre_proveedor')"
                                    (blur)="labelBlur('nombre_proveedor', $event)" type="text"
                                    class="form-control input-control  " id="nombre_proveedor"
                                    formControlName="nombre_proveedor" required>

                            </div>
                        </div>
                        <div class="w-full">
                            <div class="mt-6 input-container  ">
                                <label for="nit_proveedor"
                                    [ngClass]="{'label-float-active': inputs['nit_proveedor'], 'label-float-inactive': !inputs['nit_proveedor'] || inputs['nit_proveedor'] == null }"
                                    class="label-flotante label-float-active required">NIT proveedor</label>
                                <input (input)="labelBlur('nit_proveedor', $event)" autocomplete="false"
                                    (focus)="labelFocus('nit_proveedor')" (blur)="labelBlur('nit_proveedor', $event)"
                                    type="text" class="form-control input-control  " id="nit_proveedor"
                                    formControlName="nit_proveedor" required>

                            </div>
                        </div>
                    </div>

                    <div class="w-full px-5">
                        <div class="mt-6 input-container  ">
                            <textarea name="" id="" class="form-control " [rows]="7"
                                formControlName="descripcion_proveedor"
                                placeholder="Descripción del proveedor..."></textarea>

                            @if(form.get('descripcion_proveedor')?.value != '' &&
                            (form.get('descripcion_proveedor')?.hasError('minlength'))){
                            <div class="w-full pl-2 mt-2">
                                <span class=" text-red-500">
                                    La descripción usada mínimo debe tener 6 caracteres
                                </span>
                            </div>
                            }
                        </div>
                    </div>

                </div>

            </div>
        </form>


    </div>
    }
</div>