@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap'); //Font poppins
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&display=swap'); //Font hind vadodara
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); // Font raleway
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

:root {
    --color_company: #001ade;
    --color-hovered: #001df3;
}


body,
.p-component {
    font-family: "poppins", sans-serif;

    font-size: 13px;
    font-weight: 500;
    /* Tamaño de fuente más pequeño */
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
    font-kerning: normal;
    /* Controla el kerning para mejorar la legibilidad */

}

//styles font Material icons
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: normal;
    src: url(https://fonts.gstatic.com/s/materialicons/v142/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons' !important;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
}


@media (max-width: 768px) {
    body {
        font-size: 0.75rem;
        /* Tamaño de fuente más pequeño para pantallas pequeñas */
    }

    h1 {
        font-size: 1.25rem;
        /* Tamaño reducido para encabezados en pantallas pequeñas */
    }

    h2 {
        font-size: 1.125rem;
        /* Tamaño reducido para subencabezados en pantallas pequeñas */
    }
}



// styles font hind vadodara
.hind-vadodara {
    font-family: "Hind Vadodara", sans-serif;
    font-style: normal;
}



//Styles font Raleway
.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.sacramento-font {
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
}