/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ap-unidos-primary: mat.define-palette(mat.$indigo-palette);
$ap-unidos-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ap-unidos-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ap-unidos-theme: mat.define-light-theme((color: (primary: $ap-unidos-primary,
                accent: $ap-unidos-accent,
                warn: $ap-unidos-warn,
            ),
            typography: mat.define-typography-config(),
            density: 0));


@include mat.all-component-themes($ap-unidos-theme);


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.css";
@import "../node_modules/primeicons/primeicons.css";
@import '../node_modules/@swimlane/ngx-datatable/themes/material.scss';
@import '../node_modules/@swimlane/ngx-datatable/themes/dark.scss';
@import '../node_modules/@swimlane/ngx-datatable/themes/bootstrap.scss';
@import "../node_modules/@swimlane/ngx-datatable/assets/icons.css";



//****/
@layer base {
    :root {
        --background: 0 0% 100%;
        /* Blanco */
        --foreground: 222 47% 11%;
        /* Gris oscuro */
        --card: 210 40% 96%;
        /* Azul claro */
        --card-foreground: 240 0% 0%;
        /* Negro */
        --primary: 217 91% 60%;
        /* Azul (#3c8bf7) convertido a HSL */
        --primary-foreground: 0 0% 100%;
        /* Blanco */
        --muted: 213 27% 84%;
        /* Azul claro */
        --muted-foreground: 215 16% 47%;
        /* Azul grisáceo */
        --destructive: 350 100% 40%;
        /* Rojo */
        --destructive-foreground: 0 0% 98%;
        /* Blanco */
        --border: 214 32% 91%;
        /* Azul muy claro */
    }


    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 95%;
        --card: 0 0% 7%;
        --card-foreground: 0 0% 14.9%;
        --primary: 347 77% 50%;
        --primary-foreground: 0 0% 100%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --destructive: 350 100% 40%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
    }

    :root[data-theme='violet'] {
        --primary: 262.1 83.3% 57.8%;
    }

    .dark[data-theme='violet'] {
        --background: 224 71.4% 4.1%;
        --foreground: 210 20% 98%;
        --card: 222 47% 7%;
        --card-foreground: 210 20% 98%;
        --primary: 263.4 70% 50.4%;
        --primary-foreground: 210 20% 98%;
        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 10.6% 64.9%;
        --destructive: 350 100% 40%;
        --destructive-foreground: 210 20% 98%;
        --border: 215 27.9% 16.9%;
    }

    :root[data-theme='red'] {
        --primary: 350 100% 40%;
    }

    .dark[data-theme='red'] {
        --primary: 350 100% 40%;
        --primary-foreground: 0 85.7% 97.3%;
    }

    :root[data-theme='blue'] {
        --primary: 221.2 83.2% 53.3%;
    }

    .dark[data-theme='blue'] {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --card: 222 47% 7%;
        --card-foreground: 210 40% 98%;
        --primary: 217.2 91.2% 59.8%;
        --primary-foreground: 222.2 47.4% 11.2%;
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;
        --destructive: 350 100% 40%;
        --destructive-foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
    }

    :root[data-theme='orange'] {
        --primary: 24.6 95% 53.1%;
    }

    .dark[data-theme='orange'] {
        --background: 20 14.3% 4.1%;
        --foreground: 60 9.1% 97.8%;
        --card: 24 10% 7%;
        --card-foreground: 60 9.1% 97.8%;
        --primary: 20.5 90.2% 48.2%;
        --primary-foreground: 60 9.1% 97.8%;
        --muted: 12 6.5% 15.1%;
        --muted-foreground: 24 5.4% 63.9%;
        --border: 12 6.5% 15.1%;
    }

    :root[data-theme='yellow'] {
        --primary: 47.9 95.8% 53.1%;
    }

    .dark[data-theme='yellow'] {
        --background: 20 14.3% 4.1%;
        --foreground: 60 9.1% 97.8%;
        --card: 24 10% 7%;
        --card-foreground: 60 9.1% 97.8%;
        --primary: 47.9 95.8% 53.1%;
        --primary-foreground: 26 83.3% 14.1%;
        --muted: 12 6.5% 15.1%;
        --muted-foreground: 24 5.4% 63.9%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 12 6.5% 15.1%;
    }

    :root[data-theme='green'] {
        --primary: 142.1 76.2% 36.3%;
    }

    .dark[data-theme='green'] {
        --primary: 142.1 70.6% 45.3%;
        --primary-foreground: 144.9 80.4% 10%;
    }

    [type='text'],
    [type='email'],
    [type='url'],
    [type='password'],
    [type='number'],
    [type='date'],
    [type='datetime-local'],
    [type='month'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='week'],
    [multiple],
    textarea,
    select {
        @apply w-full rounded-md border border-border bg-background px-3 py-3 text-xs text-foreground placeholder-muted-foreground focus:z-10 focus:border-primary focus:outline-none focus:ring-primary;
    }

    [type='checkbox'],
    [type='radio'] {
        @apply h-4 w-4 rounded border-border bg-background text-primary focus:ring-2 focus:ring-primary;
    }
}

@layer components {
    .dropdown-content {
        @apply pointer-events-none scale-95 opacity-0 duration-100 ease-in;
    }

    .dropdown:hover>.dropdown-content {
        @apply pointer-events-auto block scale-100 animate-fade-in-up opacity-100 duration-200;
    }
}

/** Scroll bar **/
@supports selector(::-webkit-scrollbar) {
    .supports-scrollbars\: pr-2 {
        padding-right: 0.5rem;
    }
}

@import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.css";
@import "../node_modules/primeicons/primeicons.css";
@import '../node_modules/@swimlane/ngx-datatable/themes/material.scss';
@import '../node_modules/@swimlane/ngx-datatable/themes/dark.scss';
@import '../node_modules/@swimlane/ngx-datatable/themes/bootstrap.scss';
@import "../node_modules/@swimlane/ngx-datatable/assets/icons.css";

/*Configuración global*/


* {
    margin: 0;
    padding: 0;
}



*::-webkit-scrollbar {
    width: 7px !important;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(112, 111, 111) !important;
    border-radius: 15px !important;
}

ngx-datatable ::-webkit-scrollbar {
    width: 6px;
    /* Ancho de la barra vertical */
    height: 6px;
    /* Altura de la barra horizontal */
}

ngx-datatable ::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5);
    /* Color del pulgar de scroll (la parte que se mueve) */
    border-radius: 10px;
    /* Bordes redondeados */
}

ngx-datatable ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(80, 80, 80, 0.8);
    /* Color al pasar el mouse */
}

ngx-datatable ::-webkit-scrollbar-track {
    background-color: rgba(200, 200, 200, 0.2);
    /* Fondo de la pista de scroll */
    border-radius: 10px;
    /* Bordes redondeados para la pista */
}

ngx-datatable {
    scrollbar-width: thin;
    /* Hace la barra delgada en Firefox */
    scrollbar-color: rgba(100, 100, 100, 0.5) rgba(200, 200, 200, 0.2);
    /* Color del pulgar y pista para Firefox */
}



/**Modales**/
.show-form {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.541);
    z-index: 102;
    display: flex !important;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.show-form .modal-flotante {
    width: 500px;
    top: 28px;
    position: absolute;
    z-index: 701;
    background-color: rgb(255, 255, 255);
    min-width: 400px;
    border-radius: 10px;
    max-width: 90%;
}

.show-form .modal-flotante .body,
.show-form .modal-flotante .header,
.show-form .modal-flotante .footer {
    padding: 17px;
}

@media screen and (max-width:500px) {
    .show-form .modal-flotante {
        min-width: 300px;
        width: 97%;

    }
}

.modal-flotante .xl\:w-2\/5 {
    width: 100%;
}

/**Fin de modales**/

/**Estilos flotantes (Labels e inputs)**/
.form-control {
    border: 1px solid #e1e3e1;
    width: 100%;
}

.form-control:focus {
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25) !important;
    outline: 0;

}

.input-control {
    height: 50px;
    border-radius: 10px !important;
}

.input-container {
    position: relative;
}

.input-container .form-control {
    padding: 6px 13px;
}

.input-container .label-float {
    z-index: 900;
    position: absolute;
    top: -11px;
    left: 10px;
    font-size: 13px;
    background: white;
    border-radius: 5px;
    padding: 1px 5px;
}

.label-float-inactive {
    top: 12px !important;
    position: absolute;
    left: 15px;
    font-size: 15px;
    border-radius: 5px;
    padding: 2px 8px;
}

.label-float-active {
    color: #0056b3;
    position: absolute;
    top: -13px !important;
    left: 10px;
    background: white;
    padding: 2px 8px;
    border-radius: 5px;
}

.label-flotante {
    transition: 0.1s ease;
    background: white;
}

.required::after {
    content: "*";
    color: red;
    position: relative;
    left: 5px;
    top: 2px;
}

option {
    padding: 10px 15px;
    background-color: #f0f0f0;

}

/**Fin de estilos flotantes**/

/**Datatables**/
ngx-datatable {
    width: 100%;
    max-width: 100%;
}


.ngx-datatable * {
    font-size: 12px;

}

.ngx-datatable.material {
    box-shadow: 0px 0px 6px rgba(28, 28, 28, 0.165);
}

.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    background-color: #3f8cfe;
    text-align: center;
    text-transform: uppercase;
    color: #ffff;
}

.ngx-datatable.material .datatable-header {
    background-color: #3f8cfe;


}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    text-align: center;
    justify-items: center;
}

ngx-datatable .datatable-body-cell.accion_ {
    overflow: visible !important;

}

/**Tooltip**/


.tool-tip::before {
    content: attr(data-title) !important;
    position: absolute;
    top: -30px;
    left: 50%;
    /* Lo posiciona en el centro horizontalmente */
    transform: translateX(-50%);
    /* Lo centra completamente */
    background-color: var(--color-hovered);
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s ease-in-out;
    font-size: 12px;
    z-index: 999;
}

.tool-tip:hover::before {
    opacity: 1;
    visibility: visible;
}

/**Toast**/
.p-toast>* {
    font-size: 12px;
}

.p-toast {
    top: 60px;
}

.p-toast {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.p-toast .p-toast-message {
    padding: 1rem !important;
    /* Ajusta el relleno */
}

.p-toast-summary {
    font-weight: 500 !important;
    font-size: 16px;
}

.p-toast-detail {
    color: rgb(35, 35, 35);
    font-size: 13px;
}

.p-toast-message-icon {
    margin-right: 10px;
    display: flex;
    align-items: start;
}

.p-dialog {
    border-radius: 12px;
    background-color: #ffffff;
}

.p-dialog.p-dialog-maximized {
    border-radius: 0;
}

.p-dialog .p-dialog-header {
    padding: 20px 15px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;

    border-bottom: 0 none;
    background: #ffffff;
    color: #334155;
    padding: 1.5rem;
}

.p-dialog .p-dialog-content {
    background: #ffffff;
    color: #334155;
    padding: 0 1.5rem 1.5rem 1.5rem;
}

.p-dialog .p-dialog-content:last-of-type {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.p-dialog .p-dialog-footer {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top: 0 none;
    background: #ffffff;
    color: #334155;
    padding: 0 1.5rem 1.5rem 1.5rem;
    text-align: right;
}

.p-dialog .p-dialog-footer button {
    margin: 0 0.5rem 0 0;
    width: auto;
}

.p-button.p-button-text {
    background-color: transparent;
    color: #0056b3;
    border-color: transparent;
}

.p-dialog .p-dialog-header .p-dialog-title {
    font-weight: 600;
    font-size: 1.25rem;
}

.p-dialog.p-confirm-dialog .p-confirm-dialog-message {
    margin-left: 1rem;
    font-size: 13px;
    width: 375px;
    color: rgb(55 65 81 / 1);

}

.p-confirm-dialog-reject {

    border: 1px solid #ffffff;
    padding: 0.5rem 1rem;
    font-size: 14px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
    border-radius: 6px;
    font-weight: 500;
    outline-color: transparent;
}

.p-confirm-dialog-accept {

    padding: 0.5rem 1rem;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
    border-radius: 6px;
    outline-color: transparent;
}

.p-button-label {
    font-weight: 500 !important;
}