<div class="w-full ">
    @if(isLoading){

    <div class="w-full rounded-xl skeleton-medium h-full pb-5">


        <div class="w-full flex justify-center">
            <div class="w-8/12">
                <div class="w-full flex justify-between gap-2 px-5 pt-20 mt-20">
                    <div class="w-auto relative"></div>
                    <div class=" w-56 skeleton rounded-full h-10"></div>
                </div>
                <div class="w-full flex justify-between gap-4 my-5 px-5">
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                </div>
                <div class="w-full flex justify-between my-5 px-5">
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                </div>
                <div class="w-full flex justify-between my-5 px-5">
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                    <div class="w-1/2 h-12 rounded-3xl skeleton animate-skeleton-1000 mt-4"></div>
                </div>
            </div>

        </div>

    </div>

    }@else {
    <div class="w-full bg-white h-full rounded-xl pt-5 pb-20">
        <form [formGroup]="form">
            <div class="w-full flex justify-center">
                <div class="w-full md:w-11/12 lg:w-8/12">
                    <div class="w-full flex justify-between gap-2 px-5 pt-10 mt-10">
                        <div class="w-auto relative"></div>
                        <div class="btns">
                            @if(isSending){
                            <mat-spinner [diameter]="30"></mat-spinner>
                            }@else{
                            <ng-container>
                                @if(isUpdatePassword){
                                <div (click)="password()"
                                    class=" w-56 rounded-full bg-primary cursor-pointer text-white flex justify-center items-center h-10">
                                    <span class="material-icons mr-2" translate="no">person</span>Actualizar
                                    Usuario
                                </div>
                                }@else if(isUpdate){
                                <div (click)="update()"
                                    class=" w-56 rounded-full bg-primary cursor-pointer text-white flex justify-center items-center h-10">
                                    <span class="material-icons mr-2" translate="no">person</span>Actualizar
                                    Usuario
                                </div>
                                }@else {
                                <div (click)="store()"
                                    class=" w-56 rounded-full bg-primary cursor-pointer text-white flex justify-center items-center h-10">
                                    <span class="material-icons mr-2" translate="no">person_add</span>Agregar Usuario
                                </div>
                                }
                            </ng-container>
                            }
                        </div>

                    </div>

                    @if(!isUpdatePassword){
                    <div class="w-full flex justify-between gap-4 mt-5 px-5">
                        <div class="w-full">
                            <div class="mt-6 input-container  ">
                                <label for="rol_usuario"
                                    [ngClass]="{'label-float-active': inputs['rol_usuario'], 'label-float-inactive': !inputs['rol_usuario'] || inputs['rol_usuario'] == null }"
                                    class="label-flotante label-float-active required">Rol</label>
                                <select (change)="labelBlur('rol_usuario', $event);" (focus)="labelFocus('rol_usuario')"
                                    formControlName="rol_usuario" (blur)="labelBlur('rol_usuario', $event)"
                                    class="form-control input-control bg-white" id="rol_usuario">
                                    @if (inputs['rol_usuario'] == true ) {
                                    <option value="" selected disabled>Seleccionar</option>
                                    }
                                    @for (item of roles; track $index) {
                                    <option [value]="item.name">{{item.name}}</option>
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="w-full"></div>
                    </div>

                    <div class="w-full flex flex-wrap md:flex-nowrap gap-0 justify-between md:gap-4 px-5">
                        <div class="w-full">
                            <div class="mt-6 input-container  ">
                                <label for="numero_identificacion"
                                    [ngClass]="{'label-float-active': inputs['numero_identificacion'], 'label-float-inactive': !inputs['numero_identificacion'] || inputs['numero_identificacion'] == null }"
                                    class="label-flotante label-float-active required">Documento</label>
                                <input (input)="labelBlur('numero_identificacion', $event); numeric($event)"
                                    autocomplete="false" (focus)="labelFocus('numero_identificacion')"
                                    [attr.readonly]="isUpdate ? true : null"
                                    (blur)="labelBlur('numero_identificacion', $event)" type="text"
                                    class="form-control input-control  " id="numero_identificacion"
                                    formControlName="numero_identificacion" required>

                            </div>
                        </div>
                        <div class="w-full">
                            <div class="mt-6 input-container  ">
                                <label for="nombre_completo"
                                    [ngClass]="{'label-float-active': inputs['nombre_completo'], 'label-float-inactive': !inputs['nombre_completo'] || inputs['nombre_completo'] == null }"
                                    class="label-flotante label-float-active required">Nombre Completo</label>
                                <input (input)="labelBlur('nombre_completo', $event)" autocomplete="false"
                                    (focus)="labelFocus('nombre_completo')"
                                    (blur)="labelBlur('nombre_completo', $event)" type="text"
                                    class="form-control input-control  " id="nombre_completo"
                                    formControlName="nombre_completo" required>

                            </div>
                        </div>
                    </div>
                    }

                    @if(!isUpdate){
                    <div class="w-full flex flex-wrap md:flex-nowrap gap-0 justify-between md:gap-4 px-5">
                        <div class="w-full">
                            <div class="mt-6 input-container relative w-full">
                                <label for="password"
                                    [ngClass]="{'label-float-active': inputs['password'], 'label-float-inactive': !inputs['password'] || inputs['password'] == null }"
                                    class="label-flotante label-float-active required">Contraseña</label>
                                <input (input)="labelBlur('password', $event)" (focus)="labelFocus('password')"
                                    (blur)="labelBlur('password', $event)" [type]="showPassword ? 'text' : 'password' "
                                    [style.background]="'white !important'" id="password" autocomplete="false"
                                    class="form-control input-control  " formControlName="password" required>


                                <span class="absolute top-3.5 right-5 cursor-pointer text-muted-foreground"
                                    (click)="showPassword = !showPassword">
                                    <svg-icon [src]="
                                                !showPassword
                                                  ? 'assets/img/icons/heroicons/outline/eye-off.svg'
                                                  : 'assets/img/icons/heroicons/outline/eye.svg'
                                              " [svgClass]="'h-7 w-7'">
                                    </svg-icon>
                                </span>

                                @if(form.get('password')?.value != '' &&
                                (form.get('password')?.hasError('minlength'))){
                                <div class="w-full pl-2 mt-2">
                                    <span class=" text-red-500">
                                        La contraseña usada mínimo debe tener 6 caracteres
                                    </span>
                                </div>
                                }

                            </div>
                        </div>
                        <div class="w-full">
                            <div class="mt-6 input-container relative w-full">
                                <label for="password_confirmation"
                                    [ngClass]="{'label-float-active': inputs['password_confirmation'], 'label-float-inactive': !inputs['password_confirmation'] || inputs['password_confirmation'] == null }"
                                    class="label-flotante label-float-active required">Confirmar Contraseña</label>
                                <input (input)="labelBlur('password_confirmation', $event)"
                                    (focus)="labelFocus('password_confirmation')"
                                    (blur)="labelBlur('password_confirmation', $event)" autocomplete="false"
                                    [type]="showPassword ? 'text' : 'password' " [style.background]="'white !important'"
                                    id="password_confirmation" class="form-control input-control  "
                                    formControlName="password_confirmation" required>

                                @if(form.get('password_confirmation')?.value != '' &&
                                !(form.get('password_confirmation')?.value
                                == form.get('password')?.value)){
                                <div class="w-full pl-2 mt-2">
                                    <span class=" text-red-500">
                                        Las contraseñas no coinciden.
                                    </span>
                                </div>
                                }

                            </div>


                        </div>
                    </div>


                    }


                </div>

            </div>
        </form>


    </div>
    }
</div>